@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@400;700&family=Roboto&display=swap');

body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Mono', monospace; */
}

span{
    color: wheat;
}

.carousel-item> img{
    max-height: 650px;
    min-height: 300px;
}

.row img{
    max-width: 100%;
    height: auto;
}

.custom-toast{
    margin: 0% !important;
    border-left: 7px solid blue;
}

.card-body .text-center img{
    height: 100px;
    width: 100px;
}

.check-mark> p{
    font-size: 14px;
}


.row{
    font-family: 'Roboto', sans-serif;
}

.special-card{
    background-image: url("../icons/watermark.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px; 
}

.special-mark{
    width: 50px;
    position: relative;
    top: -10px;
    right: -250px;
}
